.tabs {
  
}
.tabs-list {
  list-style-type: none;
  font-size: 0;
  margin: 0;
}
.tabs-list__tab {
  display: inline-block;
  background: $color-bg-grey;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 1rem 3rem 0.5rem;
  margin-right: 2px;
  margin-bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  &[aria-selected='true'] {
    background: linear-gradient(to bottom, $color-mint 0%, $color-tiffanyblue 100%); 
  }
}
.tabs-list__link {
  text-decoration: none;
  color: $color-white;
}
.tabs-panel {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  background: linear-gradient(to bottom, $color-tiffanyblue 0%, $color-violet 100%); 
  &[aria-hidden='true'] {
    display: none;
  }
}
.tabs-panel__image {
  width: 16.5rem;
}
.tabs-panel__content {
  padding-left: 1.75rem;
  color: $color-white;
}
.tabs-panel__title {
  color: $color-white;
}