<div class="slider">
  <button class="slider__arrow slider__arrow--prev">
   Previous
    <span class="u-visuallyhidden">Previous</span>
  </button>
  <button class="slider__arrow slider__arrow--next">
   Next
    <span class="u-visuallyhidden">Next</span>
  </button>
  <div class="slider__slides">
    <article class="slider__slide">
      <img src="" alt="" class="slider__slide-picture">
      <p class="slider__slide-text">Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <img src="" alt="" class="slider__slide-picture">
      <p class="slider__slide-text">Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <img src="" alt="" class="slider__slide-picture">
      <p class="slider__slide-text">Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <img src="" alt="" class="slider__slide-picture">
      <p class="slider__slide-text">Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <img src="" alt="" class="slider__slide-picture">
      <p class="slider__slide-text">Lorem ipsum dolor sit amet</p>
    </article>
  </div>
</div>