<div class="slider">
  <button class="slider__arrow slider__arrow--prev js-slider-prev">
    <span class="u-visuallyhidden">Previous</span>
  </button>
  <button class="slider__arrow slider__arrow--next js-slider-next">
    <span class="u-visuallyhidden">Next</span>
  </button>
  <div class="slider__slides js-slider">
    <article class="slider__slide">
      <div class="slider__slide-picture">
        <img src="assets/images/ruut.jpg" alt="" class="slider__image">
      </div>
      <p class="slider__slide-text">1 - Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <div class="slider__slide-picture">
        <img src="assets/images/mule.jpg" alt="" class="slider__image">
      </div>
      <p class="slider__slide-text">2 - Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <div class="slider__slide-picture">
        <img src="assets/images/ruut.jpg" alt="" class="slider__image">
      </div>
      <p class="slider__slide-text">3 - Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <div class="slider__slide-picture">
        <img src="assets/images/mule.jpg" alt="" class="slider__image">
      </div>
      <p class="slider__slide-text">4 - Lorem ipsum dolor sit amet</p>
    </article>
    <article class="slider__slide">
      <div class="slider__slide-picture">
        <img src="assets/images/mule.jpg" alt="" class="slider__image">
      </div>
      <p class="slider__slide-text">5 - Lorem ipsum dolor sit amet</p>
    </article>
  </div>
</div>