<div class="tabs" role="tablist">
  <ul class="tabs-list">
    <li class="tabs-list__item">
     <button id="tab1" class="tabs-list__tab js-tab" role="tab" aria-controls="panel1" aria-selected="true" tabindex="0">
        Tab 1
      </button>
    </li>
    <li class="tabs-list__item">
     <button id="tab2" class="tabs-list__tab js-tab" role="tab" aria-controls="panel2" aria-selected="false" tabindex="0">
        Tab 2
      </button>
    </li>
    <li class="tabs-list__item">
     <button id="tab3" class="tabs-list__tab js-tab" role="tab" aria-controls="panel3" aria-selected="false" tabindex="0">
        Tab 3
      </button>
    </li>
    <li class="tabs-list__item">
     <button id="tab4" class="tabs-list__tab js-tab" role="tab" aria-controls="panel4" aria-selected="false" tabindex="0">
        Tab 4
      </button>
    </li>
  </ul>
  <article id="panel1" class="tabs-panel js-tabpanel" role="tabpanel" aria-labelledby="tab1" aria-hidden="false">
   <div class="tabs-panel__header js-toggle-tab">
      Tab 1
    </div>
    <div class="tabs-panel__content">
      <img src="assets/images/ruut.jpg" alt="" class="tabs-panel__image">
      <div class="tabs-panel__text">
        <h2 class="tabs-panel__title" tabindex="0">Some nice tab title</h2>
        <p>Some nice tab content could be here, if only I could think of something.</p>
      </div>
      <a href="" class="tabs-panel__close js-close-tab">
        <img src="https://icon.now.sh/play_circle_filled/fff" alt="" class="back-to-top__image" aria-hidden="true">
        <span class="u-visuallyhidden">Close tab</span>
      </a>
    </div>
  </article>
  <article id="panel2" class="tabs-panel js-tabpanel" role="tabpanel" aria-labelledby="tab2" aria-hidden="true">
    <div class="tabs-panel__header js-toggle-tab">
      Tab 2
    </div>
    <div class="tabs-panel__content">
      <img src="assets/images/mule.jpg" alt="" class="tabs-panel__image">
      <div class="tabs-panel__text">
        <h2 class="tabs-panel__title" tabindex="0">Another tab title</h2>
        <p>Some nice tab content could be here, if only I could think of something.</p>
      </div>
      <a href="" class="tabs-panel__close js-close-tab">
        <img src="https://icon.now.sh/play_circle_filled/fff" alt="" class="back-to-top__image" aria-hidden="true">
        <span class="u-visuallyhidden">Close tab</span>
      </a>
    </div>
  </article>
  <article id="panel3" class="tabs-panel js-tabpanel" role="tabpanel" aria-labelledby="tab3" aria-hidden="true">
   <div class="tabs-panel__header js-toggle-tab">
      Tab 3
    </div>
    <div class="tabs-panel__content">
      <img src="assets/images/ruut.jpg" alt="" class="tabs-panel__image">
      <div class="tabs-panel__text">
        <h2 class="tabs-panel__title" tabindex="0">Oohh, this is a good one, is it my Birthday?</h2>
        <p>Some nice tab content could be here, if only I could think of something.</p>
      </div>
      <a href="" class="tabs-panel__close js-close-tab">
        <img src="https://icon.now.sh/play_circle_filled/fff" alt="" class="back-to-top__image" aria-hidden="true">
        <span class="u-visuallyhidden">Close tab</span>
      </a>
    </div>
  </article>
  <article id="panel4" class="tabs-panel js-tabpanel" role="tabpanel" aria-labelledby="tab4" aria-hidden="true">
    <div class="tabs-panel__header js-toggle-tab">
      Tab 4
    </div>
    <div class="tabs-panel__content">
      <img src="assets/images/ristkylik.jpg" alt="" class="tabs-panel__image">
      <div class="tabs-panel__text">
        <h2 class="tabs-panel__title" tabindex="0">It is what it is</h2>
        <p>Some nice tab content could be here, if only I could think of something.</p>
      </div>
      <a href="" class="tabs-panel__close js-close-tab">
        <img src="https://icon.now.sh/play_circle_filled/fff" alt="" class="back-to-top__image" aria-hidden="true">
        <span class="u-visuallyhidden">Close tab</span>
      </a>
    </div>
  </article>
</div>