<div class="tabs">
  <ul class="tabs-list">
    <li class="tabs-list__tab"><a href="" class="tabs-list__link">Tab 1</a></li>
    <li class="tabs-list__tab"><a href="" class="tabs-list__link">Tab 2</a></li>
    <li class="tabs-list__tab"><a href="" class="tabs-list__link">Tab 3</a></li>
    <li class="tabs-list__tab"><a href="" class="tabs-list__link">Tab 4</a></li>
  </ul>
  <article class="tabs-panel">
    <img src="" alt="" class="tabs-panel__image">
    <h2 class="tabs-panel__title">Some nice tab title</h2>
    <p>Some nice tab content could be here, if only I could think of something.</p>
  </article>
  <article class="tabs-panel">
    <img src="" alt="" class="tabs-panel__image">
    <h2 class="tabs-panel__title">Another tab title</h2>
    <p>Some nice tab content could be here, if only I could think of something.</p>
  </article>
  <article class="tabs-panel">
    <img src="" alt="" class="tabs-panel__image">
    <h2 class="tabs-panel__title">Oohh, this is a good one, is it my Birthday?</h2>
    <p>Some nice tab content could be here, if only I could think of something.</p>
  </article>
  <article class="tabs-panel">
    <img src="" alt="" class="tabs-panel__image">
    <h2 class="tabs-panel__title">It is what it is</h2>
    <p>Some nice tab content could be here, if only I could think of something.</p>
  </article>
</div>