// Colors
$color-white: #fff;
$color-black: #000;
$color-blue: #0e68be;
$color-green: #0c494a;
$color-mint: #35a39a;
$color-tiffanyblue: #49b3a7;
$color-violet: #3f4265;
$color-light-grey: #c4c4c4;

// Text
$color-bg: $color-white;
$color-bg-grey: $color-light-grey;
$color-text: $color-black;

// Links
$color-link: $color-text;

// Borders
$color-border: $color-light-grey;
