// Grid

.wrapper {
  width: 95%;
  max-width: 62rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid__item {
  margin: $gap/2;
}
.grid__item--third {
  flex: 1 0 calc(33% - #{$gap});
  min-width: 18rem;
}

.page-section:not(:last-child) {
  border-bottom: 1px solid $color-border;
  margin-bottom: $gap;
}